@import '../../Presentation/Intranet/scss/mixins/_colors.scss';

$card-title-bk: $card-title-bk;
$card-title-color: $tab-text; // same color
$nh-green: $hyperlink-text;
$link-background-color: $content-background;
$seperator-color: $seperator-color;

